.about-imgs {
  position: relative;
}
.about-imgs img {
  width: 100%;
  position: relative;
  display: block;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.about-imgs .img-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.about-imgs .col-lg-3,
.about-imgs .col-md-6 {
  padding: 0;
}
.about-imgs .img-item:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.about-imgs .img-item span {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #e6e6e6cc;
  padding: 0.8rem 0;
  color: #000;

  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform-origin: bottom;
}
.about-imgs .img-item:hover span {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}

.about-info {
  position: relative;
  height: auto;
}
.about-info .container {
  border: 1px solid #ccc;
  background: #f9f9f9;
}

.about-info h2 {
  font-weight: 700;
  font-size: 1.4rem;
  color: rgb(5, 5, 5);
  position: relative;
}
.about-info h2::before {
  content: "";
  left: 0;
  top: 70%;
  border-bottom: 1px solid rgb(5, 5, 5);
  width: 5%;
  position: absolute;
}
.about-info p {
  font-size: 14px;
  font-style: italic;
  color: rgb(55, 55, 55);
}

#oCompan {
  padding: 20px 0;
}
#oCompan .bigimg {
  position: relative;
  box-shadow: 0 0 0.5em 0 #ccc;
}
#oCompan .bigimg .bannerText {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.623);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#oCompan .bigimg .bannerText h1 {
  font-size: 2.5em;
  color: #000;
  font-weight: bold;
}
#oCompan .bigimg .bannerText p {
  color: #000;
  font-weight: 600;
  font-style: italic;
  animation-name: colr;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes colr {
  0% {
    color: #000;
  }
  50% {
    color: #ff6700;
  }
  100% {
    color: #000;
  }
}
#oCompan .bigimg img {
  width: 100%;
}

#oCompan .titleCOM {
  margin: 25px 0;
}
#oCompan .titleCOM .COMbox h1 {
  position: relative;
  font-weight: 600;
  font-size: 1.8em;
  padding: 5px 0;
  display: inline-block;
}
#oCompan .titleCOM .COMbox h1::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 30%;
  height: 2px;
  background-color: #333;
}
#oCompan .titleCOM .COMbox .COM_title {
  width: 90%;
  padding: 25px;
  box-shadow: 0 0 0.5em 0 #ccc;
  color: black;
  margin: 10px auto;
  transition: 0.45s;
  -webkit-transition: 0.45s;
  -moz-transition: 0.45s;
  -ms-transition: 0.45s;
  -o-transition: 0.45s;
}
#oCompan .titleCOM .COMbox .COM_title:hover {
  box-shadow: none;
  transition: 0.45s;
  -webkit-transition: 0.45s;
  -moz-transition: 0.45s;
  -ms-transition: 0.45s;
  -o-transition: 0.45s;
}
#oCompan .titleCOM .COMbox .COM_title p span {
  margin-left: 25px;
}
#oCompan .COM_title .imgOcom img {
  margin: 20px 0;
  width: 100%;
  display: block;
}
#oCompan #users {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#oCompan .COM_title .kompan img {
  width: 100%;
  display: none;
}
#oCompan #users img {
  width: 30%;
}
#oCompan .missiya img {
  height: 180px;
  margin-right: 20px;
}
/* responsev */
@media (max-width: 540px) {
  .about-imgs .img-item {
    margin: 0 10px;
  }
  #oCompan #users {
    flex-direction: column;
  }
  #oCompan #users img {
    width: 90%;
  }
  #oCompan .missiya img {
    height: 10%;
    margin-bottom: 20px;
  }
  #oCompan .COM_title img {
    width: 100%;
    display: block;
  }
  #oCompan .COM_title .imgOcom img {
    margin: 20px 0;
    width: 100%;
  }
}

@media (max-width: 720px) {
  .about-info h2::before {
    width: 10%;
  }
}
