@media (max-width: 768px) {
  #header .listItems li a {
    padding: 0 8px;
    font-size: 14px;
  }
  #header .context {
    width: 700px;
  }
}
@media (max-width: 535px) {
  #logo_content .logo_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (max-width: 495px) {
  .menuButton {
    z-index: 17;
    position: absolute;
    left: 80%;
    top: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    background-color: black;
  }
  .menuButton label {
    padding-top: 6px;
    color: #fff;
    font-size: 22px;
  }
  #header .listItems {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    z-index: 15;
    left: 600px;
    top: 0;
    background-color: #fff;
    align-items: center;
    justify-content: center;
  }
  #header .listItems li {
    font-size: 16px;
    padding: 20px 0;
  }
  #header .listItems li a {
    color: black;
  }
  #check:checked ~ .menuButton {
    background-color: #fff;
  }
  /* futter responsev */
  #futter .futter_menuIcon .menuFutter {
    display: none;
  }
  #EBS_topMenu #futter .futterBox {
    flex-direction: column-reverse;
    padding-left: 10px;
    padding-right: 10px;
  }
  #EBS_topMenu #futter .futterBox .futter_menuIcon {
    text-align: left;
  }
  #logo_content .logo_block .logoImg {
    width: 100px;
  }
  #header .context {
    left: 10%;
    width: 300px;
  }
  #header .context .contextImg {
    display: none;
  }
}
