#map {
  width: 100%;
  height: 400px;
}

#contant-page {
  position: relative;
  opacity: 0;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  animation: anima 0.5s 0.5s forwards;
  -webkit-animation: anima 0.5s 0.5s forwards;
}

@keyframes anima {
  100% {
    opacity: 1;
  }
}
#contant-page p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: rgb(55, 55, 55);
  font-style: italic;
}
#contant-page h3 {
  font-size: 25px;
  color: rgb(5, 5, 5);
  position: relative;
}

#contant-page h3::before {
  content: "";
  width: 8%;
  border: 1px solid rgb(5, 5, 5);
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: 720px) {
  #contant-page h3::before {
    width: 10%;
  }
}

#contant-page input,
#contant-page textarea {
  background: transparent;
}

#contant-page .col-md-6 {
  padding: 0;
}

.img-mony {
  width: 100px;
  object-fit: cover;
}
