* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#EBS_topMenu {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

#header {
  position: relative;
  width: 100%;
  background-color: #000;
  height: 65px;
}
ul {
  list-style: none;
}
ul li {
  font-size: 14px;
  display: inline-block;
}
a {
  text-decoration: none !important;
  font-weight: 600;
}
#header a {
  color: #fff;
}
.container {
  /* border: 1px solid #fff; */
}
#header .topMenu {
  position: relative;
  width: 100%;
  height: 100%;
}
#header .listItems {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
#header .listItems li a {
  padding: 0 20px;
  transition: color 0.35s;
  -webkit-transition: color 0.35s;
  -moz-transition: color 0.35s;
  -ms-transition: color 0.35s;
  -o-transition: color 0.35s;
}
#header .listItems li a:hover {
  color: #43857a;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
#logo_content {
  background-color: #f9f9f9;
  width: 100%;
  padding: 30px 0;
}
#logo_content .logo_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#logo_content .logo_block .call_box {
  text-align: right;
}
#logo_content .logo_block .call_box p {
  line-height: 2em;
  font-size: 18px;
  margin: 0;
  font-weight: normal;
}
#logo_content .logo_block .call_box a {
  color: rgb(var(--color_15));
  font-weight: 700;
}
.menuButton {
  display: none;
}

/* Futter style */

#EBS_topMenu #futter {
  width: 100%;
  background-color: black;
  color: #fff;
}
#EBS_topMenu #futter .futterBox {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
}
#EBS_topMenu #futter .futterBox .futter_menuIcon {
  text-align: right;
}
#EBS_topMenu #futter .futter_text p {
  font-size: 15px;
}
#EBS_topMenu #futter .futter_text span a {
  color: #fff;
  font-size: 14px;
}
#EBS_topMenu #futter .futter_text span a:hover {
  text-decoration: solid;
}
#futter .futter_menuIcon .menuFutter ul li a {
  color: #fff;
  font-weight: 100;
}
#futter .futter_menuIcon .menuFutter ul li a {
  padding: 0 20px;
  border-left: 1px solid #fff;
}
#futter .futter_menuIcon .menuFutter ul li a:hover {
  color: #43857a;
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
}
#futter .futter_menuIcon .menuFutter ul li:nth-child(1) a {
  border: none;
}
#futter .futter_menuIcon .iconsFutter ul li a {
  color: #fff;
  font-size: 18px;
  padding: 0 12px;
}
#futter .futter_menuIcon .iconsFutter ul li a:hover {
  color: #43857a;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}
